{% extends "showcase/base.html" %}

{% block content %}

  <div class="gallery">
    <h1 class="gallery-title">
      {{ gallery.name }}
      <!-- form button to rate the gallery -->
      <form id="rate-form" action="{% url 'showcase:star_gallery' gallery.id %}" method="post" class="rate-form">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary pull-right" id="starBtn" value="star">
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
        </button>
      </form>
    </h1>

    <h3>By <a href="#">{{ gallery.artist }}</a></h3>
    <!-- Rating -->
    <div class="gallery-rating">
        <h4>{{ gallery.rating }}</h4>
        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
    </div>



    {% if gallery.description %}
      <div class="well">
        <p class="gallery-description">
          {{ gallery.description }}
        </p>
      </div>
    {% endif %}

    {% for image in gallery.artpiece_set.all %}
      <div class="panel panel-primary gallery-item">
        <div class="panel-heading">
          <h2 class="panel-title">{{ image.title }} ({{ image.artist }})</h2>
        </div>

        <div class="panel-body">
          <a href="{% url 'showcase:art' image.id %}">
            <img src="{{ image.image.url }}" alt="{{ image.title }}" class="img-responsive"/>
          </a>
          <div class="art-rating">
              <h4>{{ image.stars }}</h4>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
          </div>

          <!-- form button to rate the art piece  -->
          <form id="rate-form" action="{% url 'showcase:star_art' image.id %}" method="post" class="rate-form rate-form-embedded">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary pull-right" id="starBtn" value="star">
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            </button>
          </form>

          <p class="pub-date">Published {{ image.pub_date }}</p>
        </div> <!-- panel body for gallery image -->
      </div> <!-- panel for gallery item -->
    {% endfor %}
  </div> <!-- gallery -->

{% endblock content %}
