{% extends "showcase/base.html" %}

{% block content %}

  <div class="gallery">
    <h1>{{ gallery.name }}</h1>
    <h3>By: <a href="#">{{ gallery.artist }}</a></h3>

    {% if gallery.description %}
      <div class="well">
        <p class="gallery-description">
          {{ gallery.description }}
        </p>
      </div>
    {% endif %}

    {% for image in gallery.artpiece_set.all %}
      <div class="panel panel-primary gallery-item">
        <div class="panel-heading">
          <h2 class="panel-title">{{ image.title }} ({{ image.artist }})</h2>
        </div>

        <div class="panel-body">
          <a href="{% url 'showcase:art' image.id %}">
            <img src="{{ image.image.url }}" alt="{{ image.title }}" class="img-responsive"/>
          </a>

          <!-- Rating -->
          <div class="gallery-rating">
              {% if gallery.rank %}
                <h4>Rating:</h4> <span class="badge">
                  {% for i in stars_range %}
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                  {% endfor %}
              {% else %}
                <h4>Rating: --</h4>
              {% endif %}
            </span>
          </div>
          <p class="pub-date">Published {{ image.pub_date }}</p>
        </div>
      </div>
    {% endfor %}
  </div>

{% endblock content %}
