{% extends "showcase/base.html" %}

{% block content %}
<form id="login-form" action="{% url 'showcase:login' %}" method="post" class="register-form">
  {% csrf_token %}
  <div class="input-group input-group-lg">
    <input type="text" class="form-control" placeholder="Username" name="username">
    <input type="password" class="form-control" placeholder="password" maxlength="100" name="password">
  </div>

  <button type="submit" class="btn btn-primary pull-right" id="submitBtn" value="star">Submit</button>
</form>
{% endblock content %}
