#content {
  margin-top: 70px;
}

.btn a:hover {
  text-decoration: none;
}

.gallery-link {
  font-size: 20px;
}

.gallery-description {
  font-size: 18px;
  vertical-align: middle;
  padding-top: 10px;
}

.gallery h3 {
  margin-bottom: 20px;
}

.gallery-item h4 {
  font-size: 20px;
  text-align: center;
}

.gallery-item {
  margin-bottom: 25px;
}

.gallery-rating {
  vertical-align: middle;
  padding-bottom: 10px;
}

.gallery-rating h4 {
  text-align: left;
  display: inline;
}

.rate-form h4 {
  display: inline;
}

.pub-date {
  padding-top: 10px;
  font-size: 18px;
}

.navbar-brand {
  font-size: 25px;
}

body {
  padding-bottom: 50px;
}
